html {
    height: 100%;
}

body {
    background-color: #f7f7f7;
}

.miClase {
    background-color: #d1e231;
    font-family: 'Montserrat';
}

.footer a {
    color: #2e8b57;
}

footer {
    background-color: #FFFFFF;
}